body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0e0e10;
    color: #efeff1;
    background-image: 
        url('https://images.seeklogo.com/logo-png/27/2/twitch-logo-png_seeklogo-274042.png'),
        url('https://img.icons8.com/win10/512/obs-studio.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: 150px, 150px;
    background-blend-mode: overlay;
    opacity: 0.95;
}

#profile-container {
    background-color: #18181b;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    max-width: 600px;
}

#profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #9146FF;
}

#profile-info p {
    margin: 5px 0;
    font-size: 16px;
    line-height: 1.4;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #9146FF;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #772CE8;
}

#whitelist {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    padding: 20px;
    border-radius: 8px;
    background-color: #18181b;
    color: white;
    margin-left: 15dvh;

    input {
        margin-right: 10px;
        padding: 8px;
        border-radius: 4px;
        background-color: #0e0e10;
        color: white;
        font-size: 16px;
    }
    #whitelist-list {
        margin-top: 10px;
        max-height: 200px;
        overflow-y: auto;
        border-radius: 8px;
        padding: 10px;
        background:#26262b;
        font-size: 16px;
        color: #efeff1;
    }
    .whitelist-user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        button {
            margin: 0;
            padding: 5px 10px;

        }
        button :hover {
            background-color: #e71b1b;
        }
    }
}

#profile-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.logo-observer{
    position: absolute;
    top: -5dvh;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
}
.popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

.popup.show {
    opacity: 1;
    transform: translateY(0);
}

.popup.hidden {
    opacity: 0;
    transform: translateY(20px);
}
  